@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #1D1E2C;
    background-color: #fff;
    overflow-x: hidden !important;
}

nav {
    font-size: 1.5em;
    margin-top: 2rem;
    font-weight: 500;
}

ul {
    list-style: none;
    text-decoration-line: none;
    text-align: center;
    padding: 0;
    margin-bottom: 2rem;
}

li {
    display: -webkit-inline-box;
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    color: #464652;
}

header {
    display: grid;
    position: relative;
    top: 0;
    z-index: 1;
    margin-bottom: 50vh;
}

h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

p {
    margin-top: 0;
    text-align: center;
    font-size: 2vw;
    max-width: 40%;
    justify-self: center;
    color: #484A66;
    margin-bottom: 3rem;
}

#contact-p {
    color: #333;
}

.main-btn {
    justify-self: center;
    background-color: #4392F1;
    border-radius: 100px;
    padding: .3rem 2.5rem .3rem 2.5rem;
    border-width: 0px 0px 0px 0px;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 5;
    border-style: solid;
    box-shadow: 0px 5px 35px 0px rgba(50, 50, 93, 0.35);
    transition: .4s;
}

.main-btn:hover {
    border-style: solid;
    box-shadow: 0px 5px 35px 0px rgba(50, 50, 93, 0.40);
    transition: .4s;
    background-color: #5ABDF5;
}

.btn-link {
    text-decoration: none;
    font-size: 1.8vw;
    font-weight: 300;
    color: #fff;
}

.mail {
    text-decoration: underline;
    color: #333;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -100;
}

.dots {
    position: relative;
    z-index: 1;
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(-5%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.planet {
    position: absolute;
    width: 15%;
    right: 10%;
    top: 5%;
    z-index: -100;
}

.planet2 {
    position: absolute;
    right: -5%;
    width: 60%;
    top: 30%;
    z-index: -100;
}

.dune {
    position: absolute;
    top: 50%;
    z-index: -99;
}

.projects {
    display: grid;
    position: relative;
    margin-top: 50vh;
}

h2 {
    justify-self: center;
    font-size: 2.5vw;
    color: #1D1E2C;
}

#work {
    color: #fff;
}

.section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column: 2 / 3;
    justify-items: center;
}

.icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    justify-self: center;
    margin-top: 1.5rem;
}

i {
    margin-top: 1rem;
    font-size: 35px;
    margin-bottom: 3rem;
}

.fab {
    transition: .5s;
}

.fa-linkedin:hover {
    color: #0077B5;
    transition: .2s;
}

.fa-dribbble:hover {
    color: #EA4C89;
    transition: .2s;
}

.fa-twitter:hover {
    color: #1DA1F2;
    transition: .2s;
}

.fa-address-card:hover {
    color: #005FEB;
    transition: .2;
}

.far {
    transition: .5s;
}

.icon {
    margin-right: 1rem;
    margin-left: 1rem;
    justify-self: center;
    position: relative;
    text-align: center;
    color: #333;
}

.prof{
    position: relative;
    justify-self: center;
    width: 15%;
    border-radius: 1000px;
    border-width: 0px 0px 0px 0px;
    border-color: rgba(188, 188, 188, 1);
    border-radius: 5;
    border-style: solid;
    box-shadow: 0px 5px 35px 0px rgba(50, 50, 93, 0.35);
    margin-bottom: 2rem;
}

.copy {
    font-size: 15px;
    color: #707070;
    padding-bottom: 1rem;
    text-align: center;
}
@media (max-width: 1200px) {
    .btn-link {
        font-size: 4vw;
    }

    h1 {
        font-size: 7vw;
        margin-top: 6rem;
    }

    ul {
        font-size: 22px;
    }

    h2 {
        font-size: 6vw;
    }

    p {
        font-size: 3vw;
    }

    header {
        margin-bottom: 10vh;
    }

    .planet2 {
        right: 0%;
        top: 70%;
    }

    .dots {
        right: 0%;
    }

    .dune {
        top: 90%;
        right: 0%;
    }

    .prof {
        width: 30%;
    }

    .copy {
        font-size: 22px;
    }
}

@media (max-width: 990px) {

    .btn-link {
        font-size: 4vw;
    }
    h1 {
        font-size: 9vw;
        margin-top: 4rem;
    }
    ul {
        font-size: 22px;
    }
    h2 {
        font-size: 7vw;
    }

    p {
        font-size: 4vw;
    }

    header {
        margin-bottom: 5vh;
    }

    .planet2 {
        right: 0%;
        top: 60%;
    }

    .dots {
        right: 0%;
    }

    .dune {
        top: 80%;
        right: 0%;
    }

    .prof {
        width: 50%;
    }
}

@media (max-width: 769px) {
    .planet2 {
        right: 0%;
    }

     h1 {
         font-size: 8vw;
     }

     ul {
         font-size: 18px;
     }

     h2 {
         font-size: 5vw;
     }

     p {
         font-size: 3.5vw;
         max-width: 60%;
     }
}

@media (max-width: 565px) {
    header {
        margin-bottom: 10vh;
    }
    li {
        margin-left: 0rem;
    }
    ul {
        grid-template-columns: 1fr auto;
    }
    h1 {
        font-size: 11vw;
    }
    h2 {
        font-size: 7vw;
    }
    p {
        font-size: 5vw;
        text-align: center;
    }
   
    .main-btn {
        font-size: 18px;
    }

    .copy {
        font-size: 11px;
        text-align: center;
    }

    .planet2 {
        right: 0%;
        top: 110%;
    }

    .dots {
        right: 0%;
    }

    .dune {
        top: 130%;
        right: 0%;
    }
}