
body {
    margin: 0;
    color: #404040;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
}

.all {
    overflow-x: hidden;
}

ul {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    list-style: none;
    justify-items: center;
    align-items: center;
    font-weight: 600;
    padding: 0;
    font-size: 28px;
}

#work {
    border-bottom: solid 3px #FECE02;
}

a {
    text-decoration: none;
    color: #404040;
}

.link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #005bea;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.link:hover:after {
    transform: scaleX(1);
}

.circle {
    top: -32.5vw;
    right: -22.5vw;
    position: absolute;
    height: 45vw;
    width: 45vw;
    border-radius: 10000px;
    background: #F7971E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 0;
    box-shadow: 0 2px 100px hsla(0, 0%, 0%, 0.15);
}

.circle2 {
    top: -22.5vw;
    left: -22.5vw;
    position: absolute;
    height: 45vw;
    width: 45vw;
    border-radius: 10000px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    z-index: 0;
    box-shadow: 0 2px 100px hsla(0, 0%, 0%, 0.15);
    overflow: hidden;
}

/* ----------------- HEADER ---------------------- */

header {
    display: grid;
    grid-template-columns: .5fr .5fr 1.5fr 1.2fr .8fr;
    margin-top: 7rem;
    justify-content: center;
}

h1 {
    grid-column: 2 / 3;
    font-size: 4vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    z-index: 1;
}

p {
    font-size: 2vw;
    color: #707070;
}

img {
    width: 100%;
    grid-column: 3 / 4;
    margin-top: 2rem;
}

#title {
    text-decoration: underline;
    text-decoration-color: #FECE02;
}

.text-title {
    grid-column: 4 / 5;
    align-self: center;
}

.icons {
    display: grid;
    display: inline-flex;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 1fr;
    grid-column: 4 / 5;
}

.icon {
    width: 40%;
    height: 40%;
    margin-top: 2rem;
}

.content {
    grid-column: 3 / 4;
}

.content p {
    margin-top: 0;
}


@media (max-width: 767px) {
    header {
        margin-top: 6rem;
        grid-template-columns: .2fr .5fr 1.5fr 1.2fr .2fr;
    }

    .text-title {
        padding-left: .5rem;
    }

    h1 {
        font-size: 6vw;
    }

    p {
        font-size: 3vw;
    }

    .circle2 {
        height: 70vw;
        width: 70vw;
        top: -35vw;
        left: -35vw;
    }
}

@media (max-width: 575px) {
    header {
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: repeat(3, auto);
    }

    h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 10vw;
    }

    p {
        font-size: 6vw;
    }

    img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-top: 0;
    }

    .text-title {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .content {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .circle2 {
        height: 100vw;
        width: 100vw;
        top: -50vw;
        left: -50vw;
    }
}
