body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.page {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 5fr 2fr;
  grid-template-rows: 1fr auto;
}

.block {
  position: relative;
  background: #56CCF2;
  height: 100%;
  grid-column: 1 / 2;
}

.back {
  position: relative;
  background: url("images/en.png");
  background-position: center center;
  background-size: cover;
  height: 100%;
  top: 0px;
  left: 0px;
  grid-column: 2 / 3;
}

.block2 {
  position: relative;
  background: #56CCF2;
  height: 100vh;
  grid-column: 3 / 4;
}

.nav {
  position: absolute;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 2.5fr 1fr 1fr;
  font-size: 20px;
  bottom: 0px;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-items: center;
}

.about {
  grid-column: 2 / 3;
}

.work {
  grid-column: 3 / 4;
}

.icon {
  align-self: end;
}

a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  align-self: center;
}

img {
  height: 32px;
  width: 32px;
}
