@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden !important;
}

.navbar {
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  padding: 2rem 4rem;
  z-index: 3;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 0.2rem 1.3rem;
  text-decoration: none;
  font-size: 22px;
  border-radius: 100px;
  transition: 0.2s;
  margin: 0.2rem;
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.active {
  border: 2px solid #333;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*      --- - ---- HEADER  - - --- -- */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  margin-bottom: 15vh;
}

img {
  max-width: 100%;
  z-index: 1;
}

.text-wrapper {
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-self: flex-start;
  top: 20%;
  grid-column: 2 / 3;
}

.text-wrapper h1 {
  font-size: 80px;
  font-weight: bold;
}

.text-wrapper p {
  font-size: 30px;
  padding-top: 0.1rem;
  padding-bottom: 3rem;
  font-style: italic;
  color: #66C3FF;
}

.text-wrapper span {
  font-size: 30px;
  padding-right: 10vh;
  padding-bottom: 3rem;
}

.cta-button a {
  border: 2px solid #66C3FF;
  font-size: 26px;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  font-weight: bold;
  transition: 0.5s;
}

.cta-button  {
  margin-bottom: 4rem;
}

.cta-button a:hover {
  color: #fff;
  background: #66C3FF;
  transition: 0.5s;
}

h1, p {
  margin: 0;
}

.scroll {
    justify-self: center;
    font-size: 12px;
    color: #C4C4C4 !important;
    padding-right: 10vh;
}

.image-holder {
  position: relative;
  display: grid;
  grid-column: 3 / 4;
}

.front-box {
  z-index: 2;
  position: absolute;
  background-color: #C4C4C4;
  display: grid;
  width: 110%;
  justify-self: center;
  height: 30%;
  top: 81%;
  transform: rotate(13.11deg);
  overflow: hidden;
}

.back-box {
  position: absolute;
  display: grid;
  width: 100%;
  height: 80%;
  top: 20%;
  border-top-left-radius: 100px;
  background-color: #66C3FF;
}

/*  --- -- - ---- WORK SECTION -- --------*/

.work-holder {
  grid-template-columns: 0.8fr 2.5fr 0.8fr;
  display: grid;
  margin-bottom: 10vh;
}

.title {
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  margin-bottom: 3rem;
  display: grid;
  font-weight: bold;
}

.title h1 {
  grid-column: 2 / 3;
  font-size: 60px;
}

.project-wrapper {
  grid-column: 2 / 3;
  transition: 1s;
}

.project-wrapper:hover .project-img img{
  box-shadow: 0 20px 100px hsla(0,0%,0%,0.5);
  transition: 0.3s;
}

.project-img img {
  box-shadow: 0 10px 100px hsla(0,0%,0%,0.3);
  transition: 0.3s;
}

.project-info a {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-decoration-color: #66C3FF;
}

.project-info h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 36px;
}

.contact {
  text-align: center;
  padding-bottom: 5rem;
}

.copy {
  text-align: center;
}
/* -------------------- MEDIA QUERIES -----------------------*/


@media (max-width:1200px) {
  .header {
    grid-template-columns: 0.2fr 1fr 1.5fr;
    margin-bottom: 10vh;
  }

  .text-wrapper h1 {
    font-size: 60px;
  }

  .text-wrapper span {
    font-size: 22px;
    padding-right: 5vh;
    padding-bottom: 2rem;
  }

  .text-wrapper p {
      padding-bottom: 1rem;
  }

  .cta-button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {

    .navbar {
      position: relative;
      padding: 0.5rem;
    }

    .front-box {
      width: 110%;
      height: 30%;
    }

    .header {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      margin-bottom: 5vh;
    }

    .text-wrapper {
      position: relative;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-items: center;
      z-index: 3;
    }

    .text-wrapper h1 {
      text-align: center;
    }

    .text-wrapper span {
      padding-right: 4rem;
      padding-left: 4rem;
    }

    .scroll {
      padding-right: 0;
    }

    .image-holder {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    .title {
      grid-column: 1 / -1;
      justify-self: center;
    }

    .title h1 {
      text-align: center;
    }

    .project-wrapper {
      grid-column: 1 / -1;
    }

    .project-info {
      text-align: center;
    }

    .contact {
      text-align: center;
    }

}

@media (max-width:575px) {

  .scroll {
    margin-bottom: 6rem;
  }

  .img {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .text-wrapper span {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .contact h2 {
    font-size: 40px;
  }

  .contact p {
    font-size: 20px;
  }
}
