@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden !important;
}

.navbar {
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  padding: 2rem 4rem;
  z-index: 3;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 0.2rem 1.3rem;
  text-decoration: none;
  font-size: 22px;
  border-radius: 100px;
  transition: 0.2s;
  margin: 0.2rem;
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.active {
  border: 2px solid #333;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ------------------- ABOUT SECTION ----------------*/

.text-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 2fr;
  grid-template-rows: repeat(10,auto);
  align-self: flex-start;
  top: 20%;
}

.text-wrapper h1 {
  grid-column: 2 /3;
  font-size: 75px;
  margin: 0;
  grid-row: 1 / 2;
}

.text-wrapper h2 {
  grid-column: 2 /3;
  font-size: 45px;
  margin: 0;
  padding-bottom: 1rem;
  color: #66C3FF;
}

.icons {
  grid-column: 2 / 3;
}

img {
  height: 42px;
  width: 42px;
  padding: 1rem;
}

.text-wrapper p {
  grid-column: 2 / 3;
  font-size: 40px;
  font-style: italic;
  margin: 0;
  padding-bottom: 2rem;
  color: #66C3FF;
}

.text-wrapper span {
  grid-column: 2 / 3;
  padding-bottom: 2rem;
  font-size: 28px;
  padding-right: 2rem;
}


.box {
  border-top-left-radius: 100px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  background: #66C3FF;
  grid-row: 1 / -1;
  grid-column: 3 / -1;
}

.white-box {
  background: #fff;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-top-left-radius: 100px;
}

.cta-button a {
  border: 2px solid #66C3FF;
  font-size: 26px;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  font-weight: bold;
  transition: 0.5s;
}

.cta-button  {
  padding-top: 2rem;
  grid-column: 2 / 3;
}

.cta-button a:hover {
  color: #fff;
  background: #66C3FF;
  transition: 0.5s;
}

/* --------------------- MEDIA QUERIES --------------*/

@media (max-width:767px) {
  .navbar {
    position: relative;
    padding: 0.5rem;
  }

  .text-wrapper {
    grid-template-columns: 0.2fr 2fr 0.5fr;
  }
}

@media (max-width:575px) {
  .text-wrapper {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  .text-wrapper h1 {
    font-size: 40px;
  }

  .text-wrapper h2 {
    font-size: 28px;
  }

  .text-wrapper p {
    font-size: 28px;
  }

  .text-wrapper span {
    font-size: 20px;
    padding-right: 0;
  }

}
